<div class="card border-light mb-3" style="max-width: 35rem;">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
        <h5 class="card-title">{{history.founder}} | {{history.year}}</h5>
        <p class="card-text">{{description}}</p>

        <hr>
        <br>

        <div>
            <b>Types</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{types.[0]}}</li>
                <li class="list-group-item">{{types.[1]}}</li>
                <li class="list-group-item">{{types.[2]}}</li>
                <li class="list-group-item">{{types.[3]}}</li>
                <li class="list-group-item">{{types.[4]}}</li>
                <li class="list-group-item">{{types.[5]}}</li>
            </ul>
        </div>

        <br>
        <br>

        <div>
            <b>Syntax</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Variables: {{syntax.variables.[0]}}, {{syntax.variables.[1]}},
                    {{syntax.variables.[2]}}</li>
                <li class="list-group-item">Functions: {{syntax.functions.[0]}}</li>
                <li class="list-group-item">Conditionals: {{syntax.conditionals.[0]}}, {{syntax.conditionals.[1]}},
                    {{syntax.conditionals.[2]}}</li>
                <li class="list-group-item">Loops: {{syntax.loops.[0]}}, {{syntax.loops.[1]}}, {{syntax.loops.[2]}}</li>
                <li class="list-group-item">Classes: {{syntax.classes.[0]}}</li>
            </ul>
        </div>

        <br>
        <br>

        <div>
            <b>Features</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{features.[0]}}</li>
                <li class="list-group-item">{{features.[1]}}</li>
                <li class="list-group-item">{{features.[2]}}</li>
                <li class="list-group-item">{{features.[3]}}</li>
                <li class="list-group-item">{{features.[4]}}</li>
                <li class="list-group-item">{{features.[5]}}</li>
            </ul>
        </div>

        <br>
        <br>

        <div>
            <b>Libraries</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{libraries.[0]}}</li>
                <li class="list-group-item">{{libraries.[1]}}</li>
                <li class="list-group-item">{{libraries.[2]}}</li>
                <li class="list-group-item">{{libraries.[3]}}</li>
                <li class="list-group-item">{{libraries.[4]}}</li>
                <li class="list-group-item">{{libraries.[5]}}</li>
                <li class="list-group-item">{{libraries.[6]}}</li>
                <li class="list-group-item">{{libraries.[7]}}</li>
            </ul>
        </div>

        <br>
        <br>

        <div>
            <b>Tools</b>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{tools.[0]}}</li>
                <li class="list-group-item">{{tools.[1]}}</li>
                <li class="list-group-item">{{tools.[2]}}</li>
                <li class="list-group-item">{{tools.[3]}}</li>
                <li class="list-group-item">{{tools.[4]}}</li>
                <li class="list-group-item">{{tools.[5]}}</li>
                <li class="list-group-item">{{tools.[6]}}</li>
                <li class="list-group-item">{{tools.[7]}}</li>
            </ul>
        </div>

        <br>
        <br>


        <div>
            <b>Community</b>
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">{{community.[0].type}} | {{community.[0].name}}</li>
                <li class="list-group-item">{{community.[1].type}} | {{community.[1].name}}</li>
                <li class="list-group-item">{{community.[2].type}} | {{community.[2].name}}</li>
                <li class="list-group-item">{{community.[3].type}} | {{community.[3].name}}</li>
            </ol>
        </div>

    </div>
</div>