<div>
    {{#with main}}
    <main>
        <section>
            <div>
                {{> title big=true data='Work history'}}
            </div>
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>

                        <br>

                        <div>
                            {{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>

                        <br>

                        {{#unless company.url}}
                        <b>{{company.name}}</b>
                        {{else}}
                        <div>{{> link href=company.url text=company.name blank=true noLine=true}}</div>
                        {{/unless}}

                        <br>
                        <br>

                        <div>
                            <strong>
                                Projects ({{projectAmount}})
                            </strong>
                        </div>

                        <br>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{> link text=name href=url blank=true noLine=true}}</div>

                                <br>

                                <div>
                                    <p>{{about}}</p>
                                </div>

                                <br>

                                <div>
                                    <em>"Project stacks"</em> ({{stackAmound}})
                                </div>

                                <section>


                                    <ul>
                                        {{#each stacks}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </section>

                                <br>

                                <div>
                                    <em>"Project awards"</em> ({{awardAmound}})
                                </div>

                                <section>
                                    <ul>
                                        {{#each awards}}
                                        <li>
                                            {{name}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                </section>

                            </li>
                            {{/each}}
                        </ul>




                    </li>
                    <br>
                    {{/each}}
                </ul>
            </div>
        </section>

    </main>
    {{/with}}

</div>